@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

:root {
  /* color */
  --white: #ffffff;
  --black: #000000;
  --light-gray: rgba(0, 0, 0, 0.5);
  --gray: rgba(0, 0, 0, 0.7);
  --dark-gray: rgba(0, 0, 0, 0.9);
  --darker-gray: #272727;

  /* font */
  --font-small: 20px;
  --font-medium: 25px;
  --font-large: 36px;
  --font-xlarge: 60px;
  --weight-bold: 600;

  /* size */
  --size-xsmall: 5px;
  --size-small: 15px;
  --size-medium: 25px;
  --size-xlarge: 45px;
}

.cover {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__container {
  padding: var(--size-small);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.today {
  display: flex;
  align-items: center;
}

.info {
  font-size: var(--font-large);
}

.time {
  margin-left: var(--size-medium);
  font-size: var(--font-large);
}

.music {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music__title {
  font-size: var(--font-large);
  position: relative;
}

.music__content {
  position: absolute;
  margin-top: var(--size-xlarge);
}

.music__control i {
  margin-right: var(--size-xsmall);
  cursor: pointer;
}

.greeting {
  display: flex;
  align-items: center;
  margin-left: var(--size-xlarge);
  margin-bottom: var(--size-xlarge);
}

.greeting-frm {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.greeting__input {
  background-color: var(--light-gray);
  border-radius: var(--size-small);
  font-size: var(--font-large);
  color: var(--white);
  text-align: center;
}

.greeting__input::placeholder {
  color: var(--white);
}

.greeting__content {
  font-size: var(--font-large);
}

.edit-name {
  margin-left: var(--size-small);
}

.bubble {
  position: absolute;
  padding: var(--size-small);
  font-size: var(--font-small);
  background-color: var(--dark-gray);
  border-radius: var(--size-small);
  border-top-left-radius: 0;
  cursor: pointer;
}

#edit-name__icon {
  font-size: var(--font-large);
  cursor: pointer;
}

.main {
  padding: var(--size-medium) 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work__ask {
  font-size: var(--font-medium);
}

.work__what {
  text-align: center;
  color: var(--white);
  font-size: var(--font-large);
  border-bottom: 1px solid var(--white);
}

.work-show {
  display: flex;
  align-items: center;
  padding: var(--size-small) 0;
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
}

.work-show i {
  cursor: pointer;
}

.work-show > i:first-child {
  position: relative;
}

.work-show > i:nth-child(2) {
  position: absolute;
}

.middle-line {
  text-decoration: line-through;
}

.work-show__doing {
  margin: 0 var(--size-small);
  font-size: var(--font-xlarge);
  cursor: pointer;
}

.work-show i,
.edit-work {
  margin-top: var(--size-xsmall);
}

.timer {
  padding: var(--size-small) var(--size-medium);
  border-radius: var(--size-small);
  background-color: var(--light-gray);
}

.timer__container {
  display: flex;
  justify-content: center;
}

.timer__bigTime {
  font-size: var(--font-xlarge);
  padding-left: var(--size-xsmall);
}

.timer__smallTime {
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  margin-left: var(--size-xsmall);
  padding-top: var(--size-medium);
}

.timer__btns {
  display: flex;
  justify-content: space-between;
}

.timer__btns button {
  color: var(--white);
  padding: var(--size-xsmall);
  font-size: var(--font-small);
  font-weight: var(--weight-bold);
  border-radius: var(--size-small);
  background-color: var(--gray);
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size-small);
}

.queto {
  text-align: center;
}

.queto__text {
  font-size: var(--font-medium);
}

.queto__author {
  display: inline-block;
  font-size: var(--font-small);
}

.todo {
  position: absolute;
  right: 0;
  margin-right: var(--size-small);
  padding: var(--size-xsmall);
  font-size: var(--font-medium);
  background-color: var(--light-gray);
  border-radius: var(--size-xsmall);
  cursor: pointer;
}

.todo-container {
  position: absolute;
  padding: var(--size-small);
  margin-top: -310px;
  right: 20px;
  background-color: var(--dark-gray);
  border-radius: var(--size-small);
  border-bottom-right-radius: 0;
  cursor: pointer;
}

.todo__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--size-xsmall);
}

.todo-top {
  display: flex;
  align-items: center;
}

.todo-top__todo,
.todo-top__done {
  font-size: var(--font-medium);
  padding: var(--size-small) 0;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

#todo-type-show {
  margin-left: var(--size-small);
}

.todo-type {
  position: absolute;
  left: 0;
  padding: var(--size-xsmall) var(--size-small);
  margin: var(--size-small);
  background-color: #272727;
  border-radius: var(--size-small);
  border-top-left-radius: 0;
}

.todo-type__list {
  padding: var(--size-xsmall) 0;
}

.todo__item {
  display: flex;
  align-items: center;
  font-size: var(--font-small);
}

.todo__new {
  padding: var(--size-small) 0;
  font-size: var(--font-small);
}

.todo__content {
  font-size: var(--font-small);
  color: var(--white);
}

@media screen and (max-width: 850px) and (min-width: 451px) {
  :root {
    /* font */
    --font-xsmall: 10px;
    --font-small: 15px;
    --font-medium: 15px;
    --font-large: 25px;
    --font-xlarge: 35px;
    --weight-bold: 600;

    /* size */
    --size-xsmall: 5px;
    --size-small: 15px;
    --size-medium: 25px;
    --size-xlarge: 45px;
    --size-xxlarge: 100px;
  }
}

@media screen and (max-width: 450px) {
  :root {
    /* font */
    --font-xsmall: 10px;
    --font-small: 15px;
    --font-medium: 18px;
    --font-large: 25px;
    --font-xlarge: 35px;
    --weight-bold: 600;

    /* size */
    --size-xsmall: 5px;
    --size-small: 15px;
    --size-medium: 25px;
    --size-xlarge: 45px;
    --size-xxlarge: 100px;
  }

  .header__container {
    padding: var(--size-xlarge);
  }

  .main {
    padding-top: var(--size-xxlarge);
  }

  .footer__container {
    padding: var(--size-xlarge);
  }

  .timer__smallTime {
    margin-top: -5px;
  }

  .work-show__doing {
    font-weight: 100;
  }

  .todo {
    position: absolute;
    padding: var(--font-xsmall);
    margin: var(--size-xlarge) var(--size-xsmall) 0 0;
    right: 0;
  }

  .todo-container {
    margin-top: -200px;
  }

  .info,
  .time__now-text {
    font-size: var(--font-medium);
  }
}
